:root {
    --boot-color-primary:#1abc9c;
    --boot-color-header:#2c3e50;
    --boot-color-info-section:#3a546d;
}

/* start header */

header {
    background-color: var(--boot-color-header);
}

.filter_invert {
    filter: invert(1);
}

/* start main */

/* start jumbotron section */

.jumbotron {
    background-color: var(--boot-color-primary);
}

.img_dimension {
    width: 220px;
    height: 250px;
}

.jumbotron_container {
    width: 25%;
    height: 50px;
    max-width: 1170px;
    color: white;
}

.line_jumbotron {
    height: 3px;
    width: 40%;
}

/* portfolio section */

.portfolio img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

/* about section */

.about {
        background-color: var(--boot-color-primary);
}

.container_85 {
    width: 85%;
    margin: auto;
}

/* contact section */

.color_primary {
    background-color: var(--boot-color-primary);
}

#name::placeholder {
    color: black;
}

#email::placeholder {
    color: black;
}

#phone_number::placeholder {
    color: black;
}

#message::placeholder {
    color: black;
}
  

.pb_100 {
    padding-bottom: 100px;
}


 /* info section */

 .info {
    background-color: var(--boot-color-info-section);
    color: white;
 }

 .color_text_primary {
    color: var(--boot-color-primary);
}

 .square_around {
    aspect-ratio: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .info h5 {
    padding-top: 3rem;
 }

 /* footer */
 footer {
    background-color: var(--boot-color-header);
    height: 100px;
 }